/* Base styles for all devices */
.image-generator-container {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	padding: 20px;
	max-width: max-content;
	box-sizing: border-box;
	width: 100%;
}

.title {
	font-size: 2rem;
	color: #333;
	text-align: center;
	background-color: #007bff4b;
	padding: 5px;
	border-radius: 10px;
}

.image-container {
	margin-top: 20px;
	width: 100%;
	max-width: 100%;
	padding-bottom: 100%;
	position: relative;
	display: flex;
	justify-content: baseline;
	align-items: baseline;
	background-color: #f0f0f0;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.generated-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.prompt-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-around;
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}

.prompt-input {
	padding: 12px;
	flex: 1;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 1em;
}

.generate-button,
.save-button {
	padding: 10px;
	width: 100%;
	height: 100%;
	font-size: 1em;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	color: white;
	background-color: #0fac3b;
	transition: background-color 0.3s ease;
	text-align: center;
	overflow: hidden;
}
.resolution-buttons,
.generate-save-buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}
.resolution-button {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	color: white;
	background-color: #727e8c;
	transition: background-color 0.3s ease;
	text-align: center;
}

.generate-button:hover,
.save-button:hover,
.resolution-button:hover {
	background-color: #6e8e72;
}

.resolution-button.active {
	background-color: #0fac3b;
}
.generate-button:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

@media (min-width: 600px) {
	.title {
		font-size: 2.5em;
		margin-bottom: 30px;
	}

	.prompt-container {
		flex-direction: row;
		align-items: center;
	}

	.prompt-input {
		flex: 1;
	}

	.generate-button,
	.save-button {
		margin: 0;
	}
}
